# DMCK name
#   Used to add specific rule for specific target system
#   if needed. (Normally for hacking the DMCK)
#   Default: targetSystemNameChecker
dmck_name=raftModelChecker

# DMCK Working Directory
#   To avoid messing up with the DMCK main code,
#   the DMCK code will be executed in this directory
#   Default: /tmp/target-system-name
working_dir=/tmp/raft

# DMCK File IPC Directory
#   Used to store file communication between the DMCK and the target system
#   Default: /tmp/ipc
ipc_dir=/tmp/ipc

# DMCK Main Directory
#   Store the complete DMCK code
#   Default: /home/yourusername/dmck
dmck_dir=/home/jeff/Programs/dmck

# Target System Directory (optional)
#   Point this to the target system directory
#   Default: /home/yourusername/target-system
target_sys_dir=/home/jeff/Programs/dmck-target-sys/logcabin-174

# DMCK Initial Path (optional)
#   Point this to a file that will direct your DMCK
#   to an initial path. It an also be used to double check
#   or confirm your complete DC bug scenario
#   Default: /home/yourusername/dmck/target-system/initialPaths/dcbugnumber-file 
initial_path=/home/jeff/Programs/dmck/raft/initialPaths/raft-174

# DMCK Exploration Strategy Class
#   Point this to the Exploration Strategy that you want to use.
#   Options:
#   - DFS    = edu.uchicago.cs.ucare.dmck.server.DfsTreeTravelModelChecker
#   - Random = edu.uchicago.cs.ucare.dmck.server.RandomModelChecker
#   - DPOR   = edu.uchicago.cs.ucare.dmck.server.DporModelChecker
#   - SAMC   = edu.uchicago.cs.ucare.dmck.yourTargetSystem.YourTargetSystemSAMC
exploring_strategy=edu.uchicago.cs.ucare.dmck.server.DporModelChecker

# DMCK File Watcher Class
#   Point this to the FileWatcher class that you have made
#   specific for your target system
#   Default: edu.uchicago.cs.ucare.dmck.yourtargetsystem.YourTargetSystemFileWatcher
file_watcher=edu.uchicago.cs.ucare.dmck.raft.RaftFileWatcher

# DMCK Verification Class (Optional)
#   Point this to the Verification Class that you made for your target system
#   Default: edu.uchicago.cs.ucare.dmck.server.SpecVerifier
verifier=edu.uchicago.cs.ucare.dmck.raft.RaftVerifier

# DMCK Workload Driver
#   Point this to the Workload Driver class that you made
#   that is used to start nodes, terminate nodes, and injecting
#   additional target system admin/client operation(s) workload
#   Default: edu.uchicago.cs.ucare.dmck.yourtargetsystem.YourTargetSystemWorkloadDriver
workload_driver=edu.uchicago.cs.ucare.dmck.raft.RaftWorkloadDriver

# Workload Number of Nodes
#   Mention how many target system nodes that are involved in your workload
#   Default: 3
num_node=3

# Workload - Number of Crash(es) (Optional)
#   Define how many crashes that you want to test in your workload
#   Default: 0
num_crash=2

# Workload - Number of Reboot(s) (Optional)
#   Define how many reboots that you want to test in your workload
#   Default: 0
num_reboot=2

# Workload - Number of Client/Admin Operations Injected in the Middle Execution Path (Optional)
#   Default: 0
num_mid_workload=1


